{% extends "base.html" %}
{% block title %}
 Edit Item
 {% endblock %}

{% block content %}
<form action="{{url_for('EditCategoryItem', Categories_name=Categories_name, item_id = item_id)}}" method="post">
<h3>Edit Item belongs to {{Categories_name}}</h3>
<div class="row">
	<div class="col-md-4">
		<label>Item Name</label>
	</div>
	<div class="col-md-8">
		<input type="text" name="itemname" placeholder='{{item.name}}'>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-4">
		<label>Item Description</label>
	</div>
	<div class="col-md-8">
		<input type="text" name="itemdesc" placeholder='{{item.description}}'>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-4">
		<input type="submit" name="Submit">
	</div>
	<div class="col-md-4">
		<a href="{{url_for('DisplayCategoryItemslist', Categories_name=Categories_name)}}">Cancel</a>
	</div>
</div>
</form>
{% endblock %}